.row{
  color: white;
  margin-left: 20px;
  max-height: 200px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 20px;  
}

.row_posters::-webkit-scrollbar-x {
  display: none;
}

.row_poster {
  max-height: fit-content;
  object-fit: contain;
  overflow-x: scroll;
  margin-right: 10px;
  width: 100%;
  transition: transform 450ms;
}

.row_poster:hover{
  opacity: 1;
  transform: scale(1.08);
  /* overflow-x: scroll; */
}

.row_posterLarge {
  max-height: 220px;
}

.row_posterLarge :hover {
  transform: scale(1.10);
  opacity: 1;
}

.row_poster {
  max-height: fit-content;
}